<template>
  <div>
    <el-tabs v-model="activeName" :before-leave="beforeLeave" @tab-click="handleClick">
      <el-tab-pane label="用户管理" name="first">用户管理</el-tab-pane>
      <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>
      <el-tab-pane label="角色管理" name="third">角色管理</el-tab-pane>
      <el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿</el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import { handleCofirm } from "@/utils/tools";
export default {
  name: "tabel",
  data() {
    return {
      activeName: "second",
      oldname:'',

    };
  },
  methods: {
    handleClick(tab, event) {

       let flag = true;
        this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(() => {
           this.activeName = this.oldname
        }).catch(() => {         

        });
    },
    beforeLeave(newname, oldname) {
        this.oldname = oldname;
        return false;
    }
  }
};
</script>
