.left_nav {
  min-height: 100vh;
  background-color: #545c63;
  width: auto;
}
.collapse {
  cursor: pointer;
  font-size: 26px;
}
.sider-logo {
  height: 60px;
  background: #022445;
  color: #fff;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
}

.el-aside {
  color: #333;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}