<template>
  <div>
    <el-container>
      <el-header height="30px">时间</el-header>
      <el-main>
        <el-time-picker v-model="value1" placeholder="任意时间点"></el-time-picker>
   <span class="demonstration">时间范围：</span>
        <el-time-picker
          is-range
          arrow-control
          v-model="value2"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围"
        ></el-time-picker>
      </el-main>
    </el-container>

    <el-container>
      <el-header height="30px">日期</el-header>
      <el-main>
        <div class="block">
          <el-row>
            <el-col :span="8">
              <span class="demonstration">年：</span>
              <el-date-picker v-model="value3" type="year" placeholder="选择年"></el-date-picker>
            </el-col>
            <el-col :span="8">
              <span class="demonstration">月：</span>
              <el-date-picker v-model="value2" type="month" placeholder="选择月"></el-date-picker>
            </el-col>
            <el-col :span="8">
              <span class="demonstration">日：</span>
              <el-date-picker v-model="value3" type="date" placeholder="选择日"></el-date-picker>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="16">
              <span class="demonstration">日期范围：</span>
              <el-date-picker
                v-model="value4"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
              ></el-date-picker>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="16">
              <span class="demonstration">时间日期：</span>
               <el-date-picker
                    v-model="value5"
                    type="datetime"
                    placeholder="选择日期时间">
                    </el-date-picker>
            </el-col>
          </el-row>
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: "datetime",
  data() {
    return {
      value1: new Date(),
      value2: [new Date(2016, 9, 10, 8, 40), new Date(2016, 9, 10, 9, 40)],
      value3: new Date(),
      value4: "",
      value5:''
    };
  },
  methods: {}
};
</script>
<style lang="less">
.el-header {
  height: 30px;
  line-height: 30px;
}
.el-row {
    margin-bottom:10px;
}
</style>