<template>
  <div class="base-nav-menu-wrap">
    <el-aside class="left_nav" style="width: auto;">
      <div class="sider-logo">
        <i
          class="collapse"
          :class="[isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold']"
          @click="flagcollapse"
        ></i>
      </div>
      <el-menu
        class="el-menu-vertical-demo"
        style="border:none"
        :collapse="isCollapse"
        text-color="#fff"
        background-color="#545c64"
        active-text-color="#ffd04b"

        :default-active="activeIndex"
      >
        <sideritem :menuList="menuConfig"></sideritem>
      </el-menu>
    </el-aside>
  </div>
</template>
<script>
import menuConfig from "@/config/menuConfig";
import sideritem from "./sideritem";
export default {
  name: "sider",
  data() {
    return {
      isCollapse: true,
      menuConfig,
    };
  },
  components: { sideritem },
  methods: {
    flagcollapse() {
      this.isCollapse = !this.isCollapse;
    }
  },
  computed: {
    activeIndex() {
      return this.$store.state.app.currentTagName;
    }
  },
};
</script>
<style lang="less" scope>
.left_nav {
  min-height: 100vh;
  background-color: #545c63;
  width: auto;
}
.collapse {
  cursor: pointer;
  font-size: 26px;
}
.sider-logo {
  height: 40px;
  background: #022445;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
}

.el-aside {
  color: #333;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

 .base-nav-menu-wrap {
        position: relative;
        background-color: #333744;
        color: #333;

        .el-menu {
            border: 0;
        }

        .el-aside {
            overflow: hidden;
        }

        .el-menu-vertical:not(.el-menu--collapse) {
            width: 200px;
            position: absolute;
            top: 34px;
            right: 0;
            left: 0;
            bottom: 0;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .rotate:before {
            display: inline-block;
            transform: rotate(90deg);
        }

        .el-menu--collapse .el-menu-item span, .el-menu--collapse .el-submenu > .el-submenu__title span,
        .el-menu--collapse .el-menu-item span, .el-menu--collapse .el-submenu > .el-submenu__title .el-icon-arrow-right {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
        }
    }

</style>
