<template>
  <div>
    <template v-for="item in menuList">
      <template v-if="item.children && item.children.length">
        <el-submenu :index="item.path" :key="item.name">
          <template slot="title">
            <i :class="item.icon"></i>
            <span slot="title">{{ item.title }}</span>
          </template>
          <sideritem :menuList="[child]" v-for="child in item.children" :key="child.path"></sideritem>
        </el-submenu>
      </template>

      <template v-else>
        <template v-if="item.src">
          <el-menu-item :index="item.name" @click.native="handleAddTab(item)" :key="item.name">
            <i :class="item.icon"></i>
            <span slot="title">{{ item.title }}</span>
          </el-menu-item>
        </template>
        <template v-else>
          <sideritem :index="item.name" :key="item.name" @click.native="handleAddTab(item)">
            <i :class="item.icon"></i>
            <span slot="path">{{ item.title }}</span>
          </sideritem>
        </template>
      </template>
    </template>
  </div>
</template>

<script>
import * as T from "@/utils/tools";
export default {
  name: "sideritem",
  data: function() {
    return {};
  },
  props: {
    menuList: {
      type: Array
    }
  },
  methods: {
    handleAddTab(item) {
      var oldname = this.$store.state.app.currentTagName;
      if (oldname != item.name) {
        this.$router.push({
          name: item.name
        });
      }
      // if (item.src) {
      // 有iframe外链接的场景
      // T.openNewPage(this, item.name);
      // } else {

      // }
    }
  }
};
</script>
