<template>
  <div class="main-wrap">
    <el-container>
      <sider></sider>

      <el-container>
        <el-header style="height:40px">
           <theTabsbar :dynamicTags="dynamicTags"></theTabsbar> 
        </el-header>

        <el-main class="main" style="padding: 0;">
          <div class="viewer">
            <transition name="fade-move">
              <router-view class="viewer-detail"></router-view>
            </transition>
          </div>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {};
  },
  methods: {},
  computed:{
    openedPages() {
        return this.$store.state.app.openedPages
      },
      cacheRouter() {
        return this.openedPages.length ? this.openedPages.filter(item => !(item.meta && item.meta.notCache)).map(item => item.name) : []
      },
      active() {
        return this.$store.state.app.currentTagName === this.$route.name
      },
      dynamicTags() {
        return this.$store.state.app.openedPages
      },
      iframes: function() {
        return this.$store.state.app.openedPages.filter(function(item) {
          return item.src && item.src.length > 0
        })
      }
  }
};
</script>

<style lang="less" scope>
.main-wrap {
  width: 100%;
  height: 100vh;
}
.el-header {
  background-color: #b3c0d1;
  color: #333;
  // line-height: 60px;
}
.main {
  width: 100%;
  background: #fafafa;
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
  margin-top: 5px;
  position: relative;

  .viewer {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
  }
}
</style>
